<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.mep.mep_app"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Meptheme" >
        <activity
            android:name=".activities.ActivityLevel1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.ActivityLevel1Gallery" >
        </activity>
        <activity
            android:name=".activities.ActivityLevel1Registration"
            android:label="@string/title_activity_activity_level1_registration" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ActivityLevel1" />
        </activity>
        <activity
            android:name=".activities.ActivityLevel2NEW"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ActivityLevel1" />
        </activity>
        <activity
            android:name=".activities.ActivityLevel3ShowTopic"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ActivityLevel2NEW" />
        </activity>
        <activity
            android:name=".activities.ActivityLevel3ShowRemoteMonitoring"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ActivityLevel2NEW" />
        </activity>
        <activity
            android:name=".activities.ActivityLevel3Chat"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.ActivityLevel2NEW" />
        </activity>
    </application>

</manifest>