<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hu.mep.mep_app"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/mep_logo"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name="hu.mep.mep_app.activities.ActivityLevel1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="hu.mep.mep_app.activities.ActivityLevel1Gallery">
        </activity>
        <activity
            android:name="hu.mep.mep_app.activities.ActivityLevel2NEW"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="hu.mep.mep_app.activities.ActivityLevel3Chat"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="hu.mep.mep_app.activities.ActivityLevel3RemoteMonitoring" >
        </activity>
        <activity
            android:name="hu.mep.mep_app.activities.ActivityLevel3ShowTopic"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>